flask
pymongo
spacy
flask-cors
urllib3==2.5.0
bcrypt
openai
pymupdf
requests
requests-oauthlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz